@{
    ViewData["Title"] = "Ошибка входа в систему";
}

<section>
    <div class="container body-content">
        <div class="row">
            <header>
                <h2>@ViewData["Title"].</h2>
                <p class="text-danger">Неудачный вход с сервисом.</p>
            </header>
        </div>
    </div>
</section>
