<nav class="navbar navbar-inverse nav-index" data-spy="affix" data-offset-top="50">
    <section>
        <div class="container">
            <div class="row no-wrap-text">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input type="text" id="message-input" class="form-control" placeholder="Поиск в по тексту...">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    </div>
                </div>
                <div class="btn-group col-xs-12 text-right">
                    <div id="btn-sort-by-date" class="btn col-sm-3 col-xs-6 btn-text-left">
                        Дата<i class="arrow down"></i>
                    </div>
                    <div id="btn-sort-by-like" class="btn col-sm-3 col-xs-6 btn-text-left">
                        Понравилось<i class="arrow down"></i>
                    </div>
                    <div id="btn-sort-by-share" class="btn col-sm-3 col-xs-6 btn-text-left">
                        Поделились<i class="arrow down"></i>
                    </div>
                    <div id="btn-sort-by-view" class="btn col-sm-3 col-xs-6 btn-text-left">
                        Просмотры<i class="arrow down"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>