<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Администрирование<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-area="" asp-controller="Users" asp-action="Index">Редактор пользователей</a></li>
        <li><a asp-area="" asp-controller="Roles" asp-action="Index">Редоктор ролей пользователей</a></li>
        <li><a asp-area="" asp-controller="Contacts" asp-action="Index">Редоктор контактов</a></li>      
    </ul>
</li>
